<app-home></app-home>
<div >
  <div id="componenteExibicao" class="activities" *ngIf="heroiClicado">
    <h2>Atividades</h2>
    <p> <strong>{{heroiClicado.name}} </strong></p>
    <p> {{ heroiClicado.text}}</p>
    <img >
    <div class="imagem">
    <img src="/../assets/crianças.jpg" alt="Imagem do Herói">
    </div>
  </div>
</div>


<router-outlet></router-outlet>
<!-- Footer da pagina-->
<div class="footer">
  <!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container my-5">

 <footer class="text-center text-white" style="background-color:rgb(123, 123, 235)">
 <!-- Grid container -->
 <div class="container pt-4">
   <!-- Section: Social media -->
   <div class="mb-4">
     <!-- Facebook -->
     <div class="conteúdo">
     <h6>Contato: (73) 98841-2418</h6>

     <ul>
      <li>
        <a href="https://www.instagram.com/nayanelemospsicologa/">
        <img src="/../assets/instagram.png" alt="Instagram"></a>
        </li>
      <li>
        <a href="https://api.whatsapp.com/send?phone=73988412418" target="_blank">
        <img  class="zap" src="/../assets/whatsapp.png" alt="whatsapp"></a>
      </li>

    </ul>
  </div>
       </div>
       </div>

 <!-- Copyright -->
 <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
   © 2023 Author:
   <a class="text-dark" href="">Toak-Technology</a>
 </div>
 <!-- Copyright -->
</footer>

</div>
