footer>ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  color: rgb(14, 23, 52) ;
  margin-left: 26px;
  align-items: center;
  border: 4px solid black;
  width: 440px;
}
h2{
  font-weight: bold;
  font-size: 100px;
  margin-left: 40px;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}
.zap{
  width:25px;
}
.conteudo>ul>li{
  display: flex;
  margin-right: 130px;
  border: 4px solid black;

}
.activities{
margin-bottom: 100px;
margin-top: -110px;
width: 1180px;
height: 600px;
font-size: 20px;
color: black;
font-family: "Roboto", sans-serif;
margin-left: 173px;
padding: 10px;
box-shadow: 1px 1px 2px 2px rgb(165, 165, 224);
border-radius: 4px;
font: color"white";
border: 2px solid rgb(202, 202, 235);
background: rgb(255, 245, 199);
border-radius: 4px;


}
.imagem{

    width: 300px;
    height: 300px;
    border-radius: 2px solid blue;


}

hr{
  border: 1px;
  width: 100vh;
 }

 footer{
  border: solid 1px black;
 }
/* .activities:hover{

  box-shadow: 1px 1px 2px 2px rgb(165, 165, 224);
  border-radius: 4px;
  font: color"white";
  border: 2px solid rgb(202, 202, 235);
  background: rgb(255, 245, 199);
  border-radius: 4px;



 }*/

 background-image:hover{


   opacity: 0.8;

 }




a{
  text-decoration: none;
}

.conteudo{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

ul{
  display: flex;
  flex-direction: row;
  margin-left: 26px;
  align-items: center;
  justify-content: space-around;
  margin-left: 400px;
  margin-right: 436px;
  margin-top: 40px;
 text-decoration: none;
 list-style-type: none;


}


/* Ajuste de responsividade para telas menores */
@media only screen and (max-width: 768px) {



  .app-cards{

  }

  .footer{
    position: relative;
    margin-top: 190px;
  }
  h2 {
    font-size: 24px; /* Reduza o tamanho da fonte para o título */
    margin-left: 20px; /* Ajuste a margem esquerda do título */
  }

  .activities {
    width: 100%; /* Altere a largura para ocupar toda a largura da tela */
    margin-left: 0; /* Remova a margem à esquerda */
    margin-top: 20px; /* Ajuste o espaçamento superior */
    font-size: 16px; /* Reduza o tamanho da fonte */
  }

  hr {
    width: 100%; /* Altere a largura para ocupar toda a largura da tela */
  }

  .conteudo {
    display: flex;
    justify-content: space-between;
    flex-direction: column; /* Altere a direção do flex container para uma coluna */
    align-items: center; /* Centralize os itens horizontalmente */
  }

  ul {
    flex-direction: column; /* Altere a direção do flex container para uma coluna */
    align-items: center; /* Centralize os itens horizontalmente */
    margin: 20px 0;
     /* Ajuste o espaçamento superior */
  }

  .conteudo > ul > li {
    margin-right: 0; /* Remova a margem direita */
    margin-bottom: 10px; /* Ajuste o espaçamento inferior */
  }
}
