
<head>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

</head>
<app-home></app-home>
<div >
  <div id="componenteExibicao" class="activities" *ngIf="heroiClicado">
    <div class="titulo">
      <span class="material-symbols-outlined" (click)="fecharHeroi()" style="cursor: pointer;">close</span>
    </div>
    <p> <strong>{{heroiClicado.name}} </strong></p>
    <p class="text"> {{ heroiClicado.textG}}</p>
  </div>
</div>


<router-outlet></router-outlet>
<!-- Footer da pagina-->
 <footer>
<div class="conteiner-footer">

<div class="footer">

<div class="redes-sociais infos">
  <p>Redes sociais</p>
<ul>
  <li>
    <a href="https://www.instagram.com/nayanelemospsicologa/">
    <img class="redes" src="/../assets/instagram.png" alt="Instagram">Instagram</a>
  </li>
  <li>
    <a href="https://api.whatsapp.com/send?phone=73988412418" target="_blank">
    <img  class="redes" src="/../assets/whatsapp.png" alt="whatsapp">Facebook</a>
  </li>
</ul>
</div>

<div class="contato infos">
  <p style="text-align: center;">Contato</p>
  <ul>
    <li>
      <a href="https://api.whatsapp.com/send?phone=73988412418" target="_blank">
      <img  class="redes" src="/../assets/whatsapp.png" alt="whatsapp">whatsapp</a>
    </li>
  </ul>
</div>

<div class="certificados infos">
  <p >Quem sou</p>
  <ul>
    <li>Nayane Lemos</li>
    <li>Psicóloga|Neuropsicóloga</li>
    <li>CRP 03/16560</li>
  </ul>
</div>

</div>
 <!-- Copyright -->
 <div class="copyright">
   © 2023 Author:
   <a href="">Toak-Technology</a>
 </div>



</div>
</footer>
