footer{

}
img{
  height: 20px;
  margin-right: 5px;
}

a{
  color: #000000;
}
li{
  list-style-type: none;
}
.titulo{
  display: flex;
}
.text{
  text-align: justify;
}

.conteiner-footer{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  background-color:#FF87AF;
}

.footer{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: 75%;
}

.copyright{
  background-color: rgba(0, 0, 0, 0.2);
  height: 35%;
  text-align: center;
  font-size: 18px;
  padding: 25px;
 }

 .infos>p{
  font-weight: 600;
  text-align: end;
 }

 .infos>ul>li{
  margin: 5px;
 }

 .certificados>p{
  text-align: center;
  padding-right: 80px;
 }



h2{
  font-weight: bold;
  font-size: 100px;
  width: 100%;
  text-align: center;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  padding-left: 22px;
}


span{
  height: 100%;
  padding: 5px;
}

.conteudo>ul>li{
  display: flex;
  margin-right: 130px;
  border: 4px solid black;

}

.activities{
margin-bottom: 100px;
margin-top: -110px;
width: 1180px;
height: 600px;
font-size: 20px;
color: black;
font-family: "Roboto", sans-serif;
margin-left: 173px;
padding: 10px;
box-shadow: 1px 1px 2px 2px rgb(165, 165, 224);
border-radius: 4px;
font: color"white";
border: 2px solid rgb(202, 202, 235);
background: rgb(255, 245, 199);
border-radius: 4px;

}
.imagem{

    width: 300px;
    height: 300px;
    border-radius: 2px solid blue;


}

hr{
  border: 1px;
  width: 100vh;
 }

 .conteiner-footer{
  border: solid 1px black;
  width: 100%;
  height: 240px;
  background-color:#FF87AF;
 }



a{
  text-decoration: none;
}

.conteudo{
  display: flex;
  flex-direction: row;
  justify-content: center;
}



/* Ajuste de responsividade para telas menores */
@media only screen and (max-width: 768px) {

  .infos > ul > li{
    font-size: 13px;
  }

  .contato>p{
    padding-left: 20px ;
   }
  .titulo{
    display: flex;
  }
  .conteiner-footer{
    color: #d5d5d5;
    width: 100%;
    background-color:#FF87AF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 15px;
   }

   .footer{
    display: flex;
    height: 65%;
   }

   .text{
    font-size: 13px;
   }


   .copyright{
    background-color: rgba(0, 0, 0, 0.2);
    height: 35%;
    text-align: center;
    font-size: 18px;
    padding: 25px;
   }

   img{
    display: none;
   }
   .infos>p{
    font-weight: 600;
    text-align: end;
    font-size: 14px;
   }

   .redes-sociais>ul>li{
    padding-right: 20px;
    height: 20px;
   }

   .infos>ul>li{
    margin: 5px;
    color: #000000;
   }

  h2 {
    margin:0px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    padding-left: 22px;
  }

  span{
    height: 100%;
    padding: 5px;
  }

  .activities {
    background-color: #fff17a;
    height: 540px;
    overflow: scroll;
    margin-left: 0; /* Remova a margem à esquerda */
    margin-top: 20px; /* Ajuste o espaçamento superior */
    font-size: 16px; /* Reduza o tamanho da fonte */
    width: 300px;
    position: absolute;
    top: 850px;
    left: 14vw;
  }
  .imagem {
    width: 278px;
  }
  .imagem>img{
    position: relative;
    width: 100%;
  }
  hr {
    width: 100%; /* Altere a largura para ocupar toda a largura da tela */
  }

  .conteudo {
    display: flex;
    justify-content: space-between;
    flex-direction: column; /* Altere a direção do flex container para uma coluna */
    align-items: center; /* Centralize os itens horizontalmente */
  }


  .conteudo > ul > li {
    margin-right: 0; /* Remova a margem direita */
    margin-bottom: 10px; /* Ajuste o espaçamento inferior */
  }
}
