<header>
<app-menu-bar></app-menu-bar>
</header>

<app-title></app-title>




<div class="container__articles">

    <div class="articles__main">
      <app-cards></app-cards>
      <app-small-cards #small></app-small-cards>

    </div>

    <div class="articles__others">

      <div class="card mb-3" style="max-width: 1200px;">
        <div class="row g-0">
          <div class="col-md-4">
          </div>
          <div class="col-md-8">
            <div class="animated-div">
                <img src="../assets/imagem-logo.png" alt="Imagem de Logo Nayane" width="166px" height="166px">
            </div>
          </div>
        </div>
      </div>


    <div class="btn-contato">
      <button type="button" class="btn btn-outline-info btn-lg">
      <a href="https://api.whatsapp.com/send?phone=73988412418"   target="_blank">
        Fale Comigo
      </a>
    </button>
    </div>

  </div>





