.container__articles{

 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;

 margin-top: 50px;
 flex-direction: row;
 display: flex;


}

header{
  display: flex;
  flex-direction: row;
  margin: 15px;


}

.btn-contato{

  position:fixed;
  top:350px;
  right: 30px;
  flex-direction: row;

}

a{
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: transparent;
  text-decoration: none;
  margin: 10px;
  width: 200px;
}

.articles__main{
  display: flex;
  border-radius: 2px black solid;
  height: 1000px;
  width: 1200px;
  margin-left: 100px;
}

.articles__main>img{
margin-top: 300px;
height: 200px;
width: 200px;

}

.small-cards{
  margin-top: 40px;
  margin-left: 46px;

}

.card-body{

margin-top: 300px;
height: 200px;
width: 200px;
border: 30px solid blue;

}

.card.card.mb-3{
  margin: 70px;
  width: 200px;
  margin-top: 176px;
  height:200px ;
  border: none;
  background: transparent;
}
.activities{
height: 600px;
width: 600px;
margin-left: 100px;
margin-top: 20px;

border: 30px solid blue;

}
.footer {
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 300px;
  margin-top: 200px;

  padding: 10px;
  text-align: center;


  background: linear-gradient(45deg, rgb(211, 211, 215), rgb(237, 229, 230), white);
  background-size: 400% 300%;
  animation: colors 15s ease infinite;
}

@keyframes colors{
  0%{
    background-position: 0% 30%;
  }
  50%{
    background-position: 100% 70%;
  }
  100%{
    background-position: 0% 50%;
  }

}



.articles__others{


  display: flex;
  margin-top: 200px;
  margin-left: 20px;
  margin-right: 20px;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  width: 100%;
  height: 500px;
  font-size: larger;





}

.animated-div {
  animation: rotateAnimation 10s linear infinite;
}

.card {
  width: 200px; /* Largura da carta */
  height: 200px; /* Altura da carta */



 /* Mantém a hierarquia de transformações */

}

.front, .back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden; /* Esconde o verso da carta */
}



@keyframes rotateAnimation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}



/* Ajuste de responsividade para telas menores */
@media only screen and (max-width: 768px) {
  .btn{
    width: 122px;
    font-size: 11px;
    height: 24px;
    padding: 0px;

  }
  .articles__others{
    margin: 0px 0px;

  }
  .frase{
    display: none;
    width: 100vw;
    transition:none;
    margin: 0px;
  }
  .frase:hover{
    width: 100vw;
  }
  .frase>h2{
    font-size: 24px;
  }
  .container__articles {
    height: auto;
     /* Centralize os itens verticalmente */
     display: flex;

    width: 100vw;
  }

  .articles__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw; /* Altere a largura para ocupar toda a largura da tela */
   /* Remova a margem à esquerda */
    margin-top: 20px; /* Ajuste o espaçamento superior */
    margin-left: 0px;
  }

  .articles__main > img {
    margin-top: 20px; /* Ajuste o espaçamento superior da imagem */
  }

  .small-cards {
    margin-left: 0; /* Remova a margem à esquerda */
  }

  .card-body {
    margin-top: 20px; /* Ajuste o espaçamento superior */
    width: 100%; /* Altere a largura para ocupar toda a largura da tela */
  }

  .activities {
    width: 100%; /* Altere a largura para ocupar toda a largura da tela */
    margin-left: 0; /* Remova a margem à esquerda */
  }

  .footer {
    flex-direction: column; /* Altere a direção do flex container para uma coluna */
    align-items: center; /* Centralize os itens verticalmente */
    margin-top: 50px; /* Ajuste o espaçamento superior */
  }

  .articles__others {
    margin-top: 50px; /* Ajuste o espaçamento superior */
  }

}
