.cardPost{
  display: flex;
  flex-direction:row;
  margin-top: 20px;
  width: 600px;
  margin: 23px 120px;
  padding: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: white; /* Adicione esta linha para definir o fundo como branco */
  font-family: "Roboto", sans-serif;

  box-shadow: 0 0 10px rgba(244, 243, 243, 0.5); /* Adicione a sombra desejada aqui */

 /* Adicionando uma transição suave para a mudança de estado */
 transition: box-shadow 0.5s ease;




}
.card_atividades_aberto{
  display: none;
}
.card_atividades_fechado{
  display: none;
}
.cardPost:hover{

}

.card_responsive{
  display: none;
}

.card>img{
  height: 160px;
  width: 160px;
  margin-left: 32px;
  margin-top: 20px;
  }

.card{

 display: flex;
 width: 350px;
 height: 300px;
 margin-left: 8px;
 margin-top: 60px;
 margin-bottom: 20px;
 border: none;
 background: transparent;
 font-size: medium;
 font-family: "Roboto", sans-serif;

 box-shadow: 0 0 1px rgba(15, 15, 15, 0.5); /* Adicione a sombra desejada aqui */

 /* Adicionando uma transição suave para a mudança de estado */
 transition: box-shadow 0.2s ease;



}

.card:hover{
 transition: box-shadow 0.2s ease;
 opacity:0.9;
 border: 0.2px solid rgb(221, 217, 217);
 border-radius: 10px;
 box-shadow: 3px 3px 3px 3px rgb(227, 227, 240);
 animation-name: teste;
 animation-duration: 10s;


}
h2{
  display: flex;
  position: absolute;
  margin-left: 350px;
  top:240px;
  align-self: center;
  font-family: 'Times New Roman', Times, serif;
  justify-content: center;
  margin-top: 5px;
}
i{
  padding: auto;
  margin-top: 10px;
  font-family: "Roboto", sans-serif;

}

.card-title{
  padding: 10px 3px;
  margin-top: 16px;
  font-family: "Roboto", sans-serif;
}

.card_atividades{
  display: none;
}
/* Ajuste de responsividade para telas menores */
@media only screen and (max-width: 768px) {





  .card_atividades_fechado{
    display: block;
    height: 80px;
    margin-top: 40px;
    width: 350px;
    text-align: center;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 8px;
    padding: 20px;
    overflow: hidden;
  }
  .card_atividades_fechado>h1{
    margin-bottom: 90px;
  }
  .card_atividades_aberto{
    display: block;
    text-align: center;
    background-color: #fff;
    margin-top: 40px;
    justify-content: center;
    height: 400px;
    width: 350px;
    border-radius: 12px;
    animation-name: atividadeAnimation;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
    overflow: hidden;

}
@keyframes atividadeAnimation {
  from{
    height: 80px;
  }to{
    height: 400px;
  }
}
.card_atividades_aberto>h1{
    margin-bottom: 20px;
    margin-top: 20px;
}
ul{
    text-align: center;
    margin-right: 30px;
    list-style-type: none;
}
ul>li{
    height: auto;
    margin-bottom: 17px;
    border-radius: 8px;
    border: 0.2px solid black;
    padding: 10px;

}
ul>li:hover{
    box-shadow: 1px 1px 5px black;
}
ul>li>h1{
    font-size: 20px;
}
ul>li>p{
    font-size: 13px;
}






  h2{
    display: none;

  }
  .cardPost {
    display: none;
  }

}
