<div class="atividadesNay" autofocus>



<hr>
<h2 class="card-title">Minha abordagem</h2>
<p class="card-text">Meu objetivo é auxiliar as crianças a expressarem suas emoções,
  construírem habilidades sociais e emocionais,
   superarem desafios e alcançarem um desenvolvimento saudável.
    Busco fornecer um espaço seguro, onde as crianças possam se sentir à vontade para compartilhar suas preocupações, explorar suas emoções e aprender estratégias para lidar com elas. Trabalho em estreita colaboração com a família para criar um plano de tratamento individualizado, que atenda às necessidades específicas da criança.</p>
<p class="card-text"><small class="text-muted"></small></p>


<hr>
</div>
