<diV class="container__menu-bar">

  <ul>
    <li>
      <a href="https://www.instagram.com/nayanelemospsicologa/">
      <img src="/../assets/instagram.png" alt="Instagram"></a>
      </li>
    <li><a href="https://api.whatsapp.com/send?phone=7388412418"   target="_blank">
      <img  class="zap" src="/../assets/whatsapp.png" alt="whatsapp"></a>
    </li>
    <li><span>•</span></li>
    <li><a></a></li>
  </ul>


<div class="mainMenu">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button (click)="abrirMenu()" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="atividades">Abordagem</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="https://api.whatsapp.com/send?phone=7388412418"  target="_blank">Contato</a>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="app-cards">Sobre mim</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
</diV>



