

@keyframes menuAnimacaoAbrir {
  from{
    width: 45px;
  }to{
    width: 130px;
  }
}
@keyframes menuAnimacaoFechar {
  from{
    width: 130px;

  }to{
    width: 45px;
  }
}
.mainMenu_resp{
  display: block;
  margin-right: 30px;
  width: 45px;
  height: 40px;
  background-color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  animation-name: menuAnimacaoFechar;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
.mainMenu_resp>span{
  cursor: pointer;
}
.nav-bar{
  text-align: start;
  display: flex;
}
.nav-bar>li{
  cursor: pointer;
  font-size: 13px;
  list-style-type: none;
  text-align: start;
  margin: 0 10px;
}
.nav-bar-aberta{

  animation-name: menuAnimacaoAbrir;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}

.container__menu-bar{
  width: 1200px;
  display: flex;
  justify-content: space-between;
}

.container__menu-bar>ul{
  display: flex;
  flex-direction: row;

  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  color: rgb(14, 23, 52) ;
}
.zap{
  width:25px;
}
.container__menu-bar>Ul>li{
  display: flex;
  margin-right: 10px;

}
.mainMenu{
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  border-radius: 5px;
  border: 1px black solid;

}

.nav-item:hover {
  background-color: rgb(69, 87, 165);
}


/* Media query para telas menores */
@media only screen and (max-width: 768px) {
  .container__menu-bar {
    width: 95vw;
    margin: 0;
    display: flex;
    justify-content: space-between;
  }

  .mainMenu{
    display: none;
  }

  @keyframes menuAnimacaoAbrir {
    from{
      width: 45px;
    }to{
      width: 130px;
    }
  }
  @keyframes menuAnimacaoFechar {
    from{
      width: 130px;

    }to{
      width: 45px;
    }
  }
  .mainMenu_resp{
    display: block;
    margin-right: 30px;
    width: 45px;
    height: 40px;
    background-color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    animation-name: menuAnimacaoFechar;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
  }
  .nav-bar{
    text-align: start;
    display: flex;
  }
  .nav-bar>li{
    font-size: 13px;
    list-style-type: none;
    text-align: start;
    margin: 0 10px;
  }
  .nav-bar-aberta{

    animation-name: menuAnimacaoAbrir;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
  }

}


