
.btns_card{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 20px;
}

.btns_carousel{
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.desactive{
  display: none !important;
}

.btns_carousel>button{
  width: 119px;
  display: flex;
  font-size: 22px;
  height: 38px;
  font-weight: 300;
  padding: 7px;
}

.btns_carousel>button>p{
  padding-top: 3px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.container__card{
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  width: 500px;
  height: 971px;
  background-color: #65bfe1;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 25px;
  padding: 20px;
  background-image: url("/../assets/Blue.png");
  margin-right: 20px;
  margin-bottom: 500px;
  border: 0.5px solid rgb(221, 217, 217);
  border-radius: 2px;
  box-shadow: 1px 1px 1px 1px rgb(119, 119, 229);
  animation-name: teste;
  animation-duration: 10s;


}


img{
  width: 387px;
  border-radius: 40px;
  border: solid 1px white
}

.big-card__photo{
display: flex;
margin:auto;
}



.big-card__title{
  margin: auto;
  font-family: "Roboto", sans-serif;
  width: 387px;
}

.big-card__title>h2{

  margin-top: 12px;
  font-size: 22px;
  height: 40px;
  width: 404px;
  padding: 5px;
  font-family: "Roboto", sans-serif;
 text-align: center;

}

.big-card_descricao>p{
  color: rgb(14, 23, 52);
  font-family: "Roboto", sans-serif;
  animation: trocaTexto 1s;
  height: auto;
  width: auto;
  font-size: 20px;
  text-align:justify;
  margin:0px 34px;
}

@keyframes fechaTexto {
to{
  opacity: 0;
}from{
  opacity: 1;
}
}
@keyframes trocaTexto {
  to{
    opacity: 1;

  }from{
    opacity: 0;
  }

}


.big-card_descricao{
display: flex;
flex-direction: column;
align-items: baseline;
}

.container__card_responsive{
  display: none;
}
@media only screen and (max-width: 768px) {


  .col-md-4{
    display: flex;
    justify-content: center;
  }

  .mb-3{

    background-color: transparent;

  }
  .row{
    display: flex;
    flex-direction: row-reverse;
  }

  .card-text{
    font-size: 13px;
  }
  .container__card_responsive{
    display: flex;
    align-self: flex-start;
    margin-top: 10px;
    background-color: #a5e7ff;
    flex-direction: column;
    width: 340px;
    height: auto;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 30px;
    border: 0.8px solid rgb(221, 217, 217);
    border-radius: 10px;
    box-shadow: 2px 6px 10px 5px rgb(119, 119, 229);
    animation-name: teste;
    animation-duration: 10s;
     /* Ajuste as margens conforme necessário */

  }

  .container__card{
    display: none;
  }
  img{
    margin-top: 10px;
    width: 150px;
    height: 200px;
  }
  .big-card__title{
    width: 80%;
    display: none;
  }

  .big-card_descricao>p{
    text-align: justify;



    color: rgb(14, 23, 52);
    margin-left: 25px;
    font-family: "Roboto", sans-serif;

  }
  .big-card__title > h2 {
    font-size: 16px; /* Reduza o tamanho da fonte */
    height: auto; /* Defina a altura como automática para se ajustar ao conteúdo */
    padding: 16px; /* Reduza o preenchimento */
  }
  .big-card__photo{
    font-family: "Roboto", sans-serif;
    display: flex;
    width: 100%;
    height: auto;

  }
  .text{
    margin-left: 4px;
    height: 200px;

  }

  .big-card_descricao > p {
    margin-left: 0; /* Remova a margem à esquerda */

  }

}

