
<div class="container__card">

  <div class="big-card__photo">
      <img src="/../assets/imagemcard.jpg" alt="foto da psicologa Nayane" >

  </div>
  <div class="big-card__title">
    <h2>Nayane Lemos - Neuropsicóloga infantil</h2>

  </div>
  <div class="big-card_descricao">

          <p class="card-text ">Olá, sou Nayane Lemos, neuropsicóloga infantil e infantojuvenil. Estou aqui para ajudar você e sua família a lidar com os desafios do desenvolvimento de crianças e adolescentes. Meu trabalho é auxiliar pais e responsáveis no manejo de comportamentos e emoções, oferecendo orientações práticas e acolhedoras. Atendo crianças típicas e atípicas, sempre com o objetivo de promover um crescimento saudável e fortalecer as habilidades emocionais e cognitivas dos pequenos. Juntos, vamos transformar essas jornadas em experiências mais leves e positivas!</p>
  </div>
  <div class="btns_card">
      <div class="btns_carousel">
      </div>
  </div>
</div>






<div class="container__card_responsive">
  <div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="/../assets/imagemcard.jpg" alt="foto da psicologa Nayane" >
      </div>
      <div class="col-md-8">
        <div class="card-body">

          <p class="card-text">Olá, sou Nayane Lemos, neuropsicóloga infantil e infantojuvenil. Estou aqui para ajudar você e sua família a lidar com os desafios do desenvolvimento de crianças e adolescentes. Meu trabalho é auxiliar pais e responsáveis no manejo de comportamentos e emoções, oferecendo orientações práticas e acolhedoras. Atendo crianças típicas e atípicas, sempre com o objetivo de promover um crescimento saudável e fortalecer as habilidades emocionais e cognitivas dos pequenos. Juntos, vamos transformar essas jornadas em experiências mais leves e positivas!</p>
        </div>
        <div class="btns_carousel">
        </div>
      </div>
    </div>
  </div>
</div>

