
<div class="container__card">

  <div class="big-card__photo">
      <img src="/../assets/nayaneJar.jpeg" alt="foto da psicologa Nayane" >

  </div>
  <div class="big-card__title">
    <h2>Nayane Lemos - Piscóloga infantil</h2>

  </div>
  <div class="big-card_descricao">

        <p>
          Olá! Sou, psicóloga infantil apaixonada
          por ajudar crianças e suas
           famílias a desenvolverem habilidades
            emocionais saudáveis e a
           superarem desafios que possam estar
            afetando seu bem-estar. Com
            uma abordagem acolhedora e lúdica,
            busco criar um ambiente seguro e
            estimulante para que as crianças
            possam expressar suas emoções,
            desenvolver recursos internos
           e alcançar seu pleno potencial.
        </p>

        <button type="button" [routerLink]="[]"  class="btn btn-outline-secondary">Saiba Mais</button>
      </div>
</div>

