
.container__card{
  display: flex;
  margin-top: 20px;
  background-color: #FEB4C5;
  flex-direction: column;
  width: 500px;
  height: 955px;

  align-items: flex-start;
  justify-content: space-between;
  margin-left: 25px;
  padding: 20px;

  margin-right: 20px;
  margin-bottom: 500px;

  opacity:0.9;
  border: 0.5px solid rgb(221, 217, 217);
  border-radius: 2px;
  box-shadow: 2px 2px 2px 2px rgb(119, 119, 229);
  animation-name: teste;
  animation-duration: 10s;


}

.container__card:hover{

  opacity: 1;
}

img{
  width: 380px;

}

.big-card__photo{
  background-color:#FEB4C5 !important;
display: flex;
 margin-left: 25px;
}



.big-card__title{
  background-color: #FEB4C5 !important;
  margin-left: 25px;
  font-family: "Roboto", sans-serif;

}

.big-card__title>h2{

  margin-top: 10px;
  border: solid 1px black;

  font-size: 21px;
  height: 40px;
  padding: 35px 12px;
  background-color: rgb(138 138 255) !important;
  font-family: "Roboto", sans-serif;


}

.big-card_descricao>p{
  text-align: justify;
  background-color: #FEB4C5;
  margin-top: 10px;
  color: rgb(14, 23, 52);
  margin-left: 25px;
  font-family: "Roboto", sans-serif;

}
.big-card_descricao{

  background-color: #FEB4C5;


}

@media only screen and (max-width: 600px) {


  container__card{
    display: flex;
    margin-top: 10px;
    background-color: #FEB4C5;
    flex-direction: column;
    width: 322px;
    height: auto;
    align-items: center;
    justify-content: space-between;

    padding: 16px;
    margin-left: 20px;
    margin-right: 25px;
    margin-bottom: 30px;

    opacity:0.5;
    border: 0.8px solid rgb(221, 217, 217);
    border-radius: 10px;
    box-shadow: 2px 6px 10px 5px rgb(119, 119, 229);
    animation-name: teste;
    animation-duration: 10s;


  }

  img{
    width: 150px;
    height: auto;
  }
  .big-card__title{
    width:250px;
  }

  .big-card_descricao>p{
    text-align: justify;
    background-color: #FEB4C5;
    margin-top: 10px;
    margin-left:4px;
    color: rgb(14, 23, 52);
    margin-left: 25px;
    font-family: "Roboto", sans-serif;

  }
  .big-card__photo{
   display: flex;
   width: 20px;
  }
  .p{
    margin-left: 4px;
    margin:40px;

  }

  @media only screen and (max-width: 600px) {
  .container__card {
    display: flex;
    flex-direction: column;

   flex-direction: column;
    justify-content: center;
    width: 100%; /* Altere a largura para ocupar toda a largura da tela */
    height: auto; /* Defina a altura como automática para se ajustar ao conteúdo */
    padding: 16px;
    margin: 20px 0; /* Ajuste as margens conforme necessário */
    opacity: 0.5;
    border: 0.8px solid rgb(221, 217, 217);
    border-radius: 10px;
    box-shadow: 2px 6px 10px 5px rgb(119, 119, 229);
    animation-name: teste;
    animation-duration: 10s;
  }

  .big-card__photo {


      width: 150px;
      height: auto;

  }

  .big-card__title > h2 {
    font-size: 16px; /* Reduza o tamanho da fonte */
    height: auto; /* Defina a altura como automática para se ajustar ao conteúdo */
    padding: 16px; /* Reduza o preenchimento */
  }

  .big-card_descricao > p {
    margin-left: 0; /* Remova a margem à esquerda */
  }
}

}
